.header {
  padding: 0;
  min-height: calc(100vh - 64px);
}
.header .wrapper {
  margin: auto;
}
.header .btn-large {
  margin: 8px;
  width: 200px;
}
.header h1 {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
}
.header .scroll-down {
  color: #ddd !important;
  display: block;
  margin-top: 20vh;
  font-size: 2rem;
}
.header .scroll-down i {
  display: block;
  font-size: 5rem;
}
nav ul li a,
nav .material-icons {
  font-weight: 500;
  color: #039be5 !important;
}
nav .material-icons {
  padding-left: 16px;
}
nav .brand-logo img {
  height: 100%;
}
@media (min-width: 993px) {
  nav {
    padding: 0 calc(15vw + 1.5rem);
    margin: auto;
    left: 0;
    right: 0;
  }
}
ul li.list-head {
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 30px 12px;
}
ul li.list-head:hover {
  background: transparent;
}
@media (max-width: 600px) {
  ul li.list-head {
    padding-bottom: 6px;
  }
  ul li.list-head h4 {
    font-size: 1.9em;
  }
  iframe {
    height: 380px !important;
  }
}
.img-box .text {
  margin-top: 32px;
}
.col .divider {
  margin: 62px 0 32px 0;
}
h2,
h3 {
  margin-bottom: 40px;
  font-weight: 200;
  text-align: center;
}
.text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: justify;
}
footer a {
  font-weight: 500;
}
iframe.z-depth-1 {
  transition: 0.3s;
  height: 600px;
}
.col {
  transition: 0.4s;
}
.hidden {
  opacity: 0;
  transform: translateX(-16px);
  transition: 0.4s;
}
.pointer {
  cursor: pointer;
}